<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pokedex</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pokedex.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
    <link rel="icon" href="/Imagenes/LogoViejo.png"/>  
</head>
<body>
    <header class="fondoNegro">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow">
            <div class="container-fluid">
                <div class="chiquito">
                    <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index"><img class="ml-5 navbar-Img" src="/Imagenes/Logo.png" alt=""></a>
                </div>
                <a class="fuente2 navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="fuente2 nav-link text-white" asp-area="" asp-controller="Home" asp-action="Pokedex">Pokedex</a>
                        </li>
                        <li class="nav-item">
                            <a class="fuente2 nav-link text-white" asp-area="" asp-controller="Home" asp-action="Equipo">Equipos</a>
                        </li>
                        <li class="nav-item">
                            <a class="fuente2 nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="fuente2 container">
            &copy; Pokedex - Chediex - Pascual <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/sitte.js" asp-append-version="true"></script>
</body>
</html>
