@{
    ViewData["Title"] = "Asignar Pokemón al equipo";
}
<div class="text-center">
    <p class="fuente titulo">Asignar un pokemón</p>
    <div class="login-box">

        <form action='@Url.Action("GuardarPokemonEnEquipo", "Home")' method="Post" enctype="multipart/form-data">
            <input class="form-control" type="hidden" name="IdEquipo" value="@ViewBag.IdEquipo">
            <div class="user-box">
                <input type="text" name="Nombre" required autocomplete="off">
                <label>Nombre</label>
            </div>
            <button type="submit" class="fuente2 btn btn-warning btn-lg mt-4">Guardar</button>
        </form>
    </div>
</div>