@{
    ViewData["Title"] = "Asignar Pokemón al equipo";
}
<div class="text-center">
    <p class="fuente titulo">Asignar un pokemón</p>

    <form action='@Url.Action("GuardarPokemonEnEquipo", "Home")' method="Post" enctype="multipart/form-data">
        <div class="container fondoAzul">
            <div class="form-group">           
                <h2 class="fuente2 mb-4">Ingrese el nombre del pokemón para que sea asignado</h2> 
                <input type="text" name="Nombre" required autocomplete="off"/>
            </div> 
        </div>     
        <div class="d-grid gap-2">
            <button type="submit" class="fuente btn btn-warning btn-lg mt-4">Guardar</button>
        </div>
    </form>
</div>