@{
    ViewData["Title"] = "Crear Pokemon";
}
<div class="text-center">
    <p class="fuente titulo">Crear Pokemón</p>

    <form action='@Url.Action("GuardarPokemon", "Home")' method="Post" enctype="multipart/form-data">
        <div class="form-group">           
            <h2 class="fuente2 mb-1">Ingrese el nombre del pokemón</h2> 
            <input type="text" name="Nombre" required autocomplete="off"/>
        </div>

        <div class="form-group">           
            <h3 class="fuente2 mb-1">Ingrese el nombre del pokemón</h3> 
            <input type="text" name="Nombre" required autocomplete="off"/>
        </div> 

        <div class="form-group">           
            <h3 class="fuente2 mb-1">Ingrese el nombre del pokemón</h3> 
            <input type="file" class="form-control" name="Imagen" required autocomplete="off"/>
        </div> 

        <div class="form-group">           
            <h2 class="fuente2 mb-1">Ingrese el nombre del pokemón</h2> 
            <input type="text" name="Nombre" required autocomplete="off"/>
        </div> 

        <div class="form-group">           
            <h2 class="fuente2 mb-1">Ingrese el nombre del pokemón</h2> 
            <input type="text" name="Nombre" required autocomplete="off"/>
        </div> 

        <div class="form-group">           
            <h2 class="fuente2 mb-1">Ingrese el nombre del pokemón</h2> 
            <input type="text" name="Nombre" required autocomplete="off"/>
        </div>    
              
        <div class="d-grid gap-2">
            <button type="submit" class="fuente btn btn-warning btn-lg mt-4">Guardar</button>
        </div>
    </form>
</div>