@{
    ViewData["Title"] = "Crear Pokemon";
}
<div class="text-center">
    <p class="fuente titulo">Crear Pokemón</p>
    <div class="login-box">

        <form action='@Url.Action("GuardarPokemon", "Home")' method="Post" enctype="multipart/form-data">
            <div class="user-box">
                <input type="text" name="Nombre" required autocomplete="off">
                <label>Nombre</label>
            </div>
            <div class="user-box">
                <input type="file" name="Imagen" required autocomplete="off">
            </div>
            <div class="user-box">
                <input type="text" name="Tipo1" required autocomplete="off">
                <label>Tipo 1</label>
            </div>
            <div class="user-box">
                <input type="text" name="Tipo2" required autocomplete="off">
                <label>Tipo 2</label>
            </div>
            <div class="user-box">
                <input type="int" name="Hp" required autocomplete="off">
                <label>Vida</label>
            </div>
            <div class="user-box">
                <input type="int" name="Attack" required autocomplete="off">
                <label>Ataque</label>
            </div>
            <div class="user-box">
                <input type="int" name="Defence" required autocomplete="off">
                <label>Defensa</label>
            </div>
            <div class="user-box">
                <input type="int" name="SpA" required autocomplete="off">
                <label>Velocidad de ataque</label>
            </div>
            <div class="user-box">
                <input type="int" name="Spd" required autocomplete="off">
                <label>Velocidad de defensa</label>
            </div>
            <div class="user-box">
                <input type="int" name="Speed" required autocomplete="off">
                <label>Velocidad</label>
            </div>
            <button type="submit" class="fuente2 btn btn-warning btn-lg mt-4">Guardar</button>
        </form>
    </div>
</div>