@{
    ViewData["Title"] = "Datos Pokemón";
}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <div id="datos">

    </div>
    <div class="Scroll-Table">
        <table class="table">
            <thead>
                <tr>
                    <th class="th negro text-light" scope="col">Nivel</th>
                    <th class="th negro text-light" scope="col">Nombre</th>
                    <th class="th negro text-light" scope="col">Tipo</th>
                    <th class="th negro text-light" scope="col">Clase</th>
                    <th class="th negro text-light" scope="col">Potencia</th>
                </tr>
            <thead>
            <tbody id="contenido_nivel">
            </tbody>
        </table>
    </div>
    <div class="Scroll-Table">
        <table class="table">
            <thead>
                <tr>
                    <th class="th negro text-light" scope="col">Metodo de Aprendizaje</th>
                    <th class="th negro text-light" scope="col">Mt/Mo</th>                    
                    <th class="th negro text-light" scope="col">Nombre</th>
                    <th class="th negro text-light" scope="col">Tipo</th>
                    <th class="th negro text-light" scope="col">Clase</th>
                    <th class="th negro text-light" scope="col">Potencia</th>
                </tr>
            <thead>
            <tbody id="contenido_tutor">
            </tbody>
        </table>
    </div>
<script>
    getPokemon(@ViewBag.IdPokemon);


function tabla(datos) {
    // console.log(datos)
    contenido.innerHTML = ''
    for(let valor of datos){
        // console.log(valor.nombre)
        contenido.innerHTML += `
        
        <tr>
            <th scope="row">${ valor.id }</th>
        </tr>
        
        `
    }
}
</script>