@{
    ViewData["Title"] = "Home Page";
}

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="site.css" />
	</head>
	<body class="princ"> 
		<div>
			<div class="split left">
				<h1 class = "h1">Equipo</h1>
<<<<<<< HEAD
				<a href="#" class="bttn">Watch Now</a>
=======
				<a href='@Url.Action("Equipo","Home")' class="bttn">Ir</a>
>>>>>>> 476c99a7c009724ee98288432d7789060b3681f4
			</div>
			<div class="split right">
<<<<<<< HEAD
				<h1 class = "h1">Pkedex</h1>
				<a href='@Url.Action("Pokedex","Home")' class="bttn">Watch Now!</a>
=======
				<h1 class = "h1">Pokedex</h1>
				<a href='@Url.Action("Pokedex","Home")' class="bttn">Ir</a>
>>>>>>> 476c99a7c009724ee98288432d7789060b3681f4
			</div>
		</div>
		<script src="script.js"></script>
	</body> 
</html>
