@{
    ViewData["Title"] = "Home Page";
}

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="site.css" />
	</head>
	<body class="princ"> 
		<div>
			<div class="split left">
				<h1 class = "h1">Equipo</h1>
				<a href="#" class="bttn">Ir</a>
			</div>

			<div class="split right">
				<h1 class = "h1">Pokedex</h1>
				<a href='@Url.Action("Pokedex","Home")' class="bttn">Ir</a>
			</div>
		</div>
		<script src="script.js"></script>
	</body> 
</html>
