@{
    ViewData["Title"] = "Modificar Equipo";
}
<div class="text-center">
    
    <p class="fuente titulo">Modificar Equipo</p>

    <div class="login-box">

        <form action='@Url.Action("CambiarEquipo", "Home")' method="Post" enctype="multipart/form-data">
            <div class="user-box">
                    <input type="text" name="NombreEquipo" required autocomplete="off">
                    <label>Nuevo nombre</label>
            </div>
            <input class="form-control" type="hidden" name="IdEquipo" value="@ViewBag.IdEquipo">      
            
            <button type="submit" class="fuente2 btn btn-secondary btn-lg mt-4">Guardar cambio</button>
        </form>
    </div>
</div>