@{
    ViewData["Title"] = "Modificar Equipo";
}
<div class="text-center">
    
    <p class="fuente titulo">Modificar Equipo</p>

    <div class="login-box">

        <form action='@Url.Action("CambiarEquipo", "Home")' method="Post" enctype="multipart/form-data">
            <div class="user-box">
                    <input type="text" name="NombreEquipo" required autocomplete="off">
                    <label>Nuevo nombre</label>
            </div>
            <input class="form-control" type="hidden" name="IdEquipo" value="@ViewBag.IdEquipo">      
            
            <button type="submit" class="fuente btn btn-warning btn-lg mt-4">Guardar cambio</button>
        </form>
    </div>
</div>

<script>
  function MostrarPokemon(IdP)
  {
    $.ajax(
      {
        type:'POST',
        datatype:'JSON',
        url:'/Home/VerDetallePokemonAjax',
        data: {IdMiPokemon: IdP},
        success:
          function (response)
          {
            $("#NombrePokemon").html(response.Nombre);
            $("#FotoPokemon").attr("src","/"+response.Imagen);
            $("#Tipo1").html("Tipo 1"+response.Tipo1);
            $("#Tipo2").html("Tipo 2"+response.Tipo2);
          } 
      })
  }
</script>