@{
    ViewData["Title"] = "Pokedex";
}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

<div id="demo">
<div id="containerr"></div>
</div>
<div class="gallery">
  <header>
    <h1>Photo Gallery</h1>
  </header>
  <main id="image-gallery" class="images"></main>
  <footer id="gallery-pagination">
    <button id="btnPrevious">&larr; <span class="sr-only">Previous</span></button>
    <div>
      <div id="gallery-dots"></div>
      <span id="page"></span>
    </div>
    <button id="btnNext"><span class="sr-only">Next </span>&rarr;</button>
  </footer>
</div>