@{
    ViewData["Title"] = "Privacy Policy";
}

<h2 class="fuente2 text-white">Esta página está protegida por Saul Goodman</h2>

<div class="text-center">
    <img class="mt-5 gif" src="/Imagenes/bcs.gif">
</div>
