
:root {
	--left-bg-color: rgba(87, 84, 236, 0.7);
	--right-bg-color: rgba(4, 43, 43, 0.8);
	--left-btn-hover-color: rgba(87, 84, 236, 1);
	--right-btn-hover-color: rgba(28, 122, 28, 1);
	--hover-width: 75%;
	--minimize-width: 25%;
	--transition-speed: 1s;
}


@font-face{
  font-family:fuente;
  src: url('/Pokemon Solid.ttf') format('truetype');
}

@font-face{
  font-family:fuente2;
  src: url('/Gotham-Black.otf') format('truetype');
}

.fuente{
  font-family: fuente;
}

.fuente2{
  font-family: fuente2;
}

@media (max-width: 800px) { 
	.h1 { 
		top: 30%;
		font-size: 2rem;
	}
	.bttn {		
		padding: 1.2rem;
		width: 12rem;
	}
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Ubuntu', sans-serif;
	margin: 0;
  margin-bottom: 60px;
}
.princ {
  height: 100vh;
	overflow: hidden;
  margin: 0;
  margin-bottom: 60px;
}
.h1 {
	font-size: 5rem;
	color:rgb(255,205,0) ;
	position: absolute; 
	left: 50%; 
	top: 22%; 
	transform: translateX(-50%); 
	white-space: nowrap; 
  -webkit-text-stroke: rgb(53,106,188) 7.8px;
}
.bttn {
  position: absolute;
  display: Flex;
  left: 50%;
  align-items: center; 
  Justify-content: center; 
  top: 40%;
  transform: translateX(-50%);
  opacity: .9;
  font-size: 1rem; 
  font-weight: bold; 
  text-transform: uppercase;
  text-decoration: none;
  width: 15rem;
  padding: 1.5rem;
}
.split {
  position: absolute;
  width:50%;
  height:100%;
  overflow: hidden;
}
.split.left {
  left: 0;
	background: url("/Imagenes/equipo.jpg")
	no-repeat center / cover;
}
.split-left::before {
  content:"";
  position: absolute;
  height:100%;
  background-color: var(--left-bg-color);
}
.split.right {
  right: 0;
  background: url("/Imagenes/poke.jpg")
  no-repeat center / cover
}
.split.right::before {
  content:"";
  position: absolute;
  height: 100%; 
  background-color: var(--right-bg-color);
}
.split.left,
.split.right,
.split.left::before,
.split.right::before {
	transition: all var(--transition-speed) ease-in-out;
}
.hover-left .left {
	width: var(--hover-width);
}
.hover-left .right { 
	width: var(--minimize-width); 
}
.hover-right .right { 
	width: var(--hover-width); 
}
.hover-right .left { 
	width: var(--minimize-width); 
}
/* =================================================================================================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head{
  background-color: rgb(187, 70, 49);
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
}
#containerr{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.noUnderLine{
  text-decoration: none !important;
  color: black;
}
.noUnderLine:hover {
  color:black; 
  text-decoration:none; 
  cursor:pointer;  
}
.card{
  width: 230px;
  margin-top: 100px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
.card img {
  width: 100%;
}
.card span{
  color: #6e6e6e;
  font-weight: 500;
}
.amarillo{
  color:rgb(255,205,0);
  font-size: 3.2rem;
}
.negro{
  color:black;
}
.titulo{
  margin-bottom: 8%;
  font-size: 5rem;
	color:rgb(255,205,0) ;
  -webkit-text-stroke: rgb(53,106,188) 7.8px;
}
.fondoAzul{
  background-color:rgb(53,106,188);
}
.chiquito{
  width: 5%;
}
/*-----------------------------Filtrado-----------------------------------*/