
:root {
	--left-bg-color: rgba(87, 84, 236, 0.7);
	--right-bg-color: rgba(4, 43, 43, 0.8);
	--left-btn-hover-color: rgba(87, 84, 236, 1);
	--right-btn-hover-color: rgba(28, 122, 28, 1);
	--hover-width: 75%;
	--minimize-width: 25%;
	--transition-speed: 1s;
}


@font-face{
  font-family:fuente;
  src: url('/Pokemon Solid.ttf') format('truetype');
}

@font-face{
  font-family:fuente2;
  src: url('/Gotham-Black.otf') format('truetype');
}
.mostrarModal{
  display: none;
}
.fuente{
  font-family: fuente;
}

.fuente2{
  font-family: fuente2;
}

@media (max-width: 800px) { 
	.h1 { 
		top: 30%;
		font-size: 2rem;
	}
	.bttn {		
		padding: 1.2rem;
		width: 12rem;
	}
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Ubuntu', sans-serif;
	margin: 0;
  margin-bottom: 60px;
  background-image: url("/Imagenes/fondo.jpg");

}
.princ {
  height: 100vh;
	overflow: hidden;
  margin: 0;
  margin-bottom: 60px;
}
.h1 {
	font-size: 5rem;
	color:rgb(255,205,0) ;
	position: absolute; 
	left: 50%; 
	top: 22%; 
	transform: translateX(-50%); 
	white-space: nowrap; 
  -webkit-text-stroke: rgb(53,106,188) 7.8px;
}
.bttn {
  position: absolute;
  display: Flex;
  left: 50%;
  align-items: center; 
  Justify-content: center; 
  top: 40%;
  transform: translateX(-50%);
  opacity: .9;
  font-size: 1rem; 
  font-weight: bold; 
  text-transform: uppercase;
  text-decoration: none;
  width: 15rem;
  padding: 1.5rem;
}
.split {
  position: absolute;
  width:50%;
  height:100%;
  overflow: hidden;
}
.split.left {
  left: 0;
	background: url("/Imagenes/equipo.jpg")
	no-repeat center / cover;
}
.split-left::before {
  content:"";
  position: absolute;
  height:100%;
  background-color: var(--left-bg-color);
}
.split.right {
  right: 0;
  background: url("/Imagenes/poke.jpg")
  no-repeat center / cover
}
.split.right::before {
  content:"";
  position: absolute;
  height: 100%; 
  background-color: var(--right-bg-color);
}
.split.left,
.split.right,
.split.left::before,
.split.right::before {
	transition: all var(--transition-speed) ease-in-out;
}
.hover-left .left {
	width: var(--hover-width);
}
.hover-left .right { 
	width: var(--minimize-width); 
}
.hover-right .right { 
	width: var(--hover-width); 
}
.hover-right .left { 
	width: var(--minimize-width); 
}
/* =================================================================================================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head{
  background-color: rgb(187, 70, 49);
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
}
#containerr{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.noUnderLine{
  text-decoration: none !important;
  color: black;
  margin: 0;
  padding: 0;
}
.noUnderLine:hover {
  color:black; 
  text-decoration:none; 
  cursor:pointer;  
}
.card{
  width: 230px;
  margin-top: 100px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
.card img {
  width: 100%;
}
.card span{
  color: #6e6e6e;
  font-weight: 500;
}
.amarillo{
  color:rgb(255,205,0);
  font-size: 3.2rem;
}
.negro{
  color:black;
}
.titulo{
  margin-bottom: 8%;
  font-size: 5rem;
	color:rgb(255, 255, 255);
  
}
.subtitulo{
  margin-bottom: 4%;
  font-size: 3rem;
	color:rgb(255, 255, 255);
}
.fondoAzul{
  background-color:rgb(53,106,188);
  border-radius: 10px;
}
.chiquito{
  width: 5%;
}
.imgSize{
  max-width:25%;
}
/*-----------------------------CrearPokemon-----------------------------------
.Body{
  box-shadow: 20px 20px 60px #bebebe,
  -20px -20px 60px #ffffff;
}
.container
{
  height: 100vh;
  display: flex;
}
.form-container{
  margin: auto;
  padding: 1.3rem;
  box-shadow: 20px 20px 60px #bebebe,
  -20px -20px 60px #ffffff;
}
input{
  width:100%;
  display: block;
  font-size: 10px;
  border: none;
  background: transparent;
  box-shadow: 20px 20px 60px #bebebe,
  -20px -20px 60px #ffffff;
  margin-bottom: 20px;
  outline: none;
  border-radius: 10px;
}
.input-group{
  display: flex;
}
.input-group input:first-child{
  margin-right: 10px;;
}
input::placeholder{
  color:rgba(79, 79, 79, 0.5);
}
button{
  width:100%;
  display:block;
  padding:10px;
  border:none;
  background: transparent;
  box-shadow: 20px 20px 60px #bebebe,
  -20px -20px 60px #ffffff;
  outline:none;
  border-radius: 10px;
  color:rgb(0, 0, 0)
}
button:focus{
  box-shadow: 20px 20px 60px #bebebe,
  -20px -20px 60px #ffffff;
}
button:hover{
  box-shadow: 20px 20px 60px #bebebe,
  -20px -20px 60px #ffffff;
}
*/

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  padding: 3%;
  margin-top: 5%;
  transform: translate(-50%, -50%);
  background: rgb(132,132,132);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: rgb(255,255,255);
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: rgb(255,255,255);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 1%;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: rgb(255,255,255);
  color: rgb(255,255,255);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(255,255,255),
              0 0 25px rgb(255,255,255),
              0 0 50px rgb(255,255,255),
              0 0 100px rgb(255,255,255);
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgb(255,255,255));
  animation: btn-anim1 1s linear infinite;
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgb(255, 255, 255));
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, rgb(255, 255, 255));
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

/*
.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: rgb(255,205,0);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}*/
.centrar{
  display: flex;
  justify-content: center;
}
.separar{
  margin-left: 2%;
}
#datos{
  position: relative;
}
/*#datos img{
  margin-left: 25%;
}*/
/*---------------------Tabla Estadisticas-----------------------------*/
.tabla-estadisticas{
  white-space:nowrap;
  border-collapse: separate !important;
  position: relative;
  border-collapse: collapse; 
  border-radius: 5%;
}
.negro{
  background: black !important;
}
.th {
  background: white;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
.titulo-tabla{
  background: #A27DFA; 
  border-top-left-radius: 10px; 
}
.texto-tabla{
  width:125px; 
  padding-left:0.5em; 
  padding-right:0.5em;
}
.nombre-stat{
  float:left;
}
.numero-stat{
  float:right;
}
/*----------------------------------Barras----------------------------*/
.barra-completa-hp{
  background: #A7DB8D;
}
.barra-completa-atq{
  background: #F5AC78;
}
.barra-completa-def{
  background: #FAE078;
}
.barra-completa-spa{
  background: #FF5959;
}
.barra-completa-spd{
  background: #9DB7F5;
}
.barra-completa-speed{
  background: #FA92B2;
}
.barra-stat{
  width:255px;
}
.hp{
  background-color: #78C850; 
  border: 1px solid #4E8234;  
  height:20px;
}
.atq{
 background-color: #F08030; 
 border: 1px solid #9C531F; 
 height:20px;
}
.def{
  background-color: #F8D030; 
  border: 1px solid #A1871F; 
  height:20px;
}
.spa{
  background-color: #FF0000;
  border: 1px solid #A60000; 
  height:20px;
}
.spd{
  background-color: #6890F0; 
  border: 1px solid #445E9C; 
  height:20px;
}
.speed{
  background-color: #F85888; 
  border: 1px solid #A13959; 
  height:20px;
}

.normal{
  background: #A8A878;
  border: 3px solid #6D6D4E;
}
.normal-Claro{
  background: #C6C6A7;
}

.lucha{
  background: #C03028;
  border: 3px solid #7D1F1A;
}
.lucha-Claro{
  background: #D67873;
}

.volador{
  background: #A890F0;
  border: 3px solid #6D5E9C;
}
.volador-Claro{
  background: #C6B7F5;
}

.tierra{
  background: #E0C068;
  border: 3px solid #927D44;
}
.tierra-Claro{
  background: #EBD69D;
}

.bicho{
  background: #A8B820;
  border: 3px solid #6D7815;
}
.bicho-Claro{
  background: #C6D16E;
}

.fantasma{
  background: #705898;
  border: 3px solid #682A68;
}
.fantasma-Claro{
  background: #A292BC;
}

.acero{
  background: #B8B8D0;
  border: 3px solid #787887;
}
.acero-Claro{
  background: #D1D1E0;
}

.veneno{
  background: #A040A0;
  border: 3px solid #682A68;
}
.veneno-Claro{
  background: #C183C1;
}

.electrico{
  background: #F8D030;
  border: 3px solid #A1871F;
}
.electrico-Claro{
  background: #FAE078;
}

.planta{
  background: #78C850;
  border: 3px solid #4E8234;
}
.planta-Claro{
  background: #A7DB8D;
}

.fuego{
  background: #F08030;
  border: 3px solid #9C531F;
}
.fuego-Claro{
  background: #F5AC78;
}

.agua{
  background: #6890F0;
  border: 3px solid #445E9C;
}
.agua-Claro{
  background: #9DB7F5;
}

.siniestro{
  background: #705848;
  border: 3px solid #49392F;
}
.siniestro-Claro{
  background: #A29288;
}

.hielo{
  background: #98D8D8;
  border: 3px solid #B8B8D0;
}
.hielo-Claro{
  background: #BCE6E6;
}

.hada{
  background: #EE99AC;
  border: 3px solid #9B6470;
}
.hada-Claro{
  background: #F4BDC9;
}

.dragon{
  background: #7038F8;
  border: 3px solid #4924A1;
}
.dragon-Claro{
  background: #A27DFA;
}

.roca{
  background: #B8A038 ;
  border: 3px solid #786824;
}
.roca.Claro{
  background: #D1C17D;
}

.psiquico{
  background: #F85888  ;
  border: 3px solid #A13959;
}
.psiquico-Claro{
  background: #FA92B2;
}

.table{
  color: white;
}
.Scroll-Table{
  text-align: center !important;
  overflow-y:scroll;
  margin-top: 1%;
  height:500px;
  width:100%;
}

.fondoRojo{
  background-color:#C04C4B;
}

.fondoGris{
  background-color:#E7E7E6;
}

.fondoGrisOscuro{
  background-color:rgb(133, 133, 133);
}

.fondoNegro{
  background-color:rgb(0, 0, 0);
}
